{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} tareas {% endblock %}

{% block content %}
<div class="col-md-3">
	<div><span class="h5">TodoList Demo</span></div>
	Todas<br>
	Completadas<br>
	Pendientes<br>
</div>
<div class="col-md-9">
	<div class="list-tareas"></div>
	<button class="btn btn-primary add_tarea mt-3"><i class="fas fa-plus"></i> Agregar Tarea</button>
	<div class="tarea mt-3">
		<form method="post" action="" id="form-save-tarea">
			{% csrf_token %}
			Nombre: <input class='form-control mb-2' type='text' name="tarea" id="id_tarea" />
			Programar: <input class='form-control mb-2' type='datetime' name="fecha_venc" id="id_fecha_venc" />
			Prioridad: <select class="form-control mb-2" name="priori" id="id_priori">
				<option value="Prioridad 1">Prioridad 1</option>
				<option value="Prioridad 2">Prioridad 2</option>
				<option value="Prioridad 3">Prioridad 3</option>
			</select>
			<input type='submit' class='btn btn-success' value='Guardar'/>
			<a class='cancelar'>Cancelar</a>
		</form>
		<div id="results"></div>
	</div>
</div>
<input type="hidden" name="" value="{{ csrf_token }}" id="token">
<input type="hidden" name="" id="now" value="{% now 'c' %}">
<script type="text/javascript" src="{% static 'assets/js/tareas/crear_tarea.js' %}"></script>
{% endblock %}